.contenido{

	width:60%;
	margin: auto;
	text-align: center;
	background-color: #fff;
	padding: 2em;
	border-radius: 3em;
}

body{
	background-color: #81dac6;
}

.boton{

	background-color: #f5d48f;
	border-color:#f5d48f ;
	font-weight: bold;
	color: #139f43;
	font-size: 15px;
	border-radius: 3em;
	width: 40em;
	height: 3em;
	margin: 2%;

}

.pregunta{

	color: #c3a3d1;
}

.titulo{
	color: #81dac6
}

.grupos{
	color: #f08476;
	font-weight: bold;
	font-size: 25px;
	width: 40%;
	padding: 1%;
	margin: auto;
}

.campoTexto{
  width: 40%;
  padding: 2%;
  margin: 9px;
  border-radius: 10px;
 }

 #resultado1, #resultado2, #resultado3{
 	font-size: 20px;
 }

 .boton a{
 	text-decoration: none;
 	color: #f08476;
 }

